body section:first-child {
  font-family: arial;
  font-size: 11pt;
}
body section:first-child {
  width: 80%;
  margin: 50 auto 150 auto;
}
h2 {
  margin-top: 50px;
}
section nav {
  show: block;
  right: 0;
  top: 0;
  width: 30%;
  margin-left: 10px;
  float: right;
  border: 1px solid #DDD;
  padding: 10px;
}
section nav h1 {
  margin: 0;
}
section nav ol {
  list-style: none;
  padding-left: 0;
}
section nav ol a {
  text-decoration: none;
}
section nav ol a:hover {
  color: #F00;
}

/** banner: "fork me on github" **/
p.banner {
  padding: 10px;
  background-color: #000;
  color: #FFF;
  text-align: right;
}
section.bannerContainer {
  font-weight: 700;
  line-height: 10px;
  display: block;
  float: right;
}
section.bannerContainer:hover {
  cursor: pointer;
}
